/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/not-found.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.not-found_container__PhdHT {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
}

.not-found_title__Vh7BH {
  font-size: 72px;
  font-weight: bold;
  color: #e30613;
  margin: 0;
}

.not-found_subtitle__vCZ2m {
  font-size: 24px;
  color: #333;
  margin: 10px 0;
}

.not-found_text__5JT3T {
  font-size: 16px;
  color: #666;
  margin: 20px 0;
  text-align: center;
}

.not-found_link__UkSHF {
  display: inline-block;
  padding: 12px 24px;
  background-color: #e30613;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 20px;
  transition: background-color 0.2s;
}

.not-found_link__UkSHF:hover {
  background-color: #c1050f;
}







